body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h1{
  background-color: darkblue;
  color: black;
}

p {
  color:chartreuse;
  font-size: large;
}

img{
  width: 300px;
  height: 300px;
}